@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

:root {
    --light-blue: #7bffe9;
    --dark-blue: #2A3B49;    ;
    --black: #000;
    --white: #FFF;
}

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
}

p {
    margin: 20px;
    font-size: 20px;
}

img {
    width: 70%;
    height: auto;
    margin: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-rows: auto auto;
}

.branding {
    color:#7bffe9;
    font-weight: 400;
    font-size: 36px;
}

.dark_mode {
    background-color: var(--dark-blue);
    color: var(--white);
}

.light_mode {
    background-color: var(--white);
    color: var(--black);
}

#light_button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
}

#dark_button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
}
#light_button:hover {
    border: solid 2px var(--light-blue);
}

#dark_button:hover {
    border: solid 2px var(--light-blue);
}

.hidden {
    display: none;
}

.branding {
    color:#7bffe9;
}

header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-blue);
}

nav a {
    margin: 10px;
    color: var(--white);
}

.main_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
}

.submitnow_button {
    border-radius: 50px;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-size: 40px;
    padding: 25px 50px;
    margin: 10px;
}